<div class="intro">
  <div class="section-text">
    <h1>ziiui</h1>
    <p>Scroll to explore the journey</p>
  </div>
</div>

<div class="flow">
  <div class="section-text">
    <p>Every moment holds a universe <br> waiting to be discovered</p>
  </div>
  <div class="flow-images">
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-1/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-2/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-3/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-4/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-5/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-6/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-7/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-8/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-9/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-10/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-11/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-12/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-13/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-14/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-15/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-16/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-17/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-18/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-19/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-20/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-21/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-22/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-23/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-24/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-25/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-26/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-27/500/350" alt=""></div>
    <div class="img"><img src="https://picsum.photos/seed/ziiui-if-28/500/350" alt=""></div>
    <div class="img cover"><img src="https://picsum.photos/seed/ziiui-if-cover/1920/1080" alt=""></div>
  </div>
</div>

<div class="outro">
  <div class="section-text">
    <h1>BYE!</h1>
    <p>The end is just another beginning</p>
  </div>
</div>
