<img class="preview-image" src="https://picsum.photos/seed/ziiui-list-0/400/560" alt="ziiui creative showcase 01">

<div class="container">
  <div class="list-wrapper">
    <div class="list">
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-0/400/560">
        <span class="index">01</span>
        <div class="heading">Creative Interfaces</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-1/400/560">
        <span class="index">02</span>
        <div class="heading">Interactive Experiences</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-2/400/560">
        <span class="index">03</span>
        <div class="heading">Digital Motion</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-3/400/560">
        <span class="index">04</span>
        <div class="heading">Modern Web</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-4/400/560">
        <span class="index">05</span>
        <div class="heading">Creative Web</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-5/400/560">
        <span class="index">06</span>
        <div class="heading">Smooth Interactions</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-6/400/560">
        <span class="index">07</span>
        <div class="heading">Motion Design</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-7/400/560">
        <span class="index">08</span>
        <div class="heading">Interactive Web</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-8/400/560">
        <span class="index">09</span>
        <div class="heading">Digital Experiences</div>
      </div>
      <div class="list-item" data-img="https://picsum.photos/seed/ziiui-list-9/400/560">
        <span class="index">10</span>
        <div class="heading">ziiui Studio</div>
      </div>
    </div>
  </div>
</div>
