<section class="about-hero" id="about-hero">
  <div class="about-hero__photo-layer" aria-hidden="true">
    <img class="about-hero__photo" alt="" src="https://picsum.photos/seed/ziiui-mh-1/400/520" />
    <img class="about-hero__photo" alt="" src="https://picsum.photos/seed/ziiui-mh-2/400/520" />
    <img class="about-hero__photo" alt="" src="https://picsum.photos/seed/ziiui-mh-3/400/520" />
    <img class="about-hero__photo" alt="" src="https://picsum.photos/seed/ziiui-mh-4/400/520" />
    <img class="about-hero__photo" alt="" src="https://picsum.photos/seed/ziiui-mh-5/400/520" />
    <img class="about-hero__photo" alt="" src="https://picsum.photos/seed/ziiui-mh-6/400/520" />
    <img class="about-hero__photo" alt="" src="https://picsum.photos/seed/ziiui-mh-7/400/520" />
    <img class="about-hero__photo" alt="" src="https://picsum.photos/seed/ziiui-mh-8/400/520" />
  </div>
  <p class="about-hero__kicker">Our approach</p>
  <div class="about-hero__copy">
    <p class="about-hero__headline">
      We craft <span class="about-hero__keyword" tabindex="0">creative interfaces</span>,<br />
      embrace <span class="about-hero__keyword" tabindex="0">smooth interactions</span>,<br />
      and <span class="about-hero__keyword" tabindex="0"> design </span> digital motion for the modern web
    </p>
  </div>
</section>
