<div class="spacer"></div>
<footer>
  <div class="footer-inner">
    <h2 class="footer-title">
      <div class="line">Let's build something</div>
      <div class="line2 line">unforgettable together.</div>
    </h2>
    <div class="footer-links">
      <a class="footer-link"><span>Instagram</span></a>
      <a class="footer-link"><span>LinkedIn</span></a>
      <a class="footer-link"><span>GitHub</span></a>
      <a class="footer-link"><span>Dribbble</span></a>
      <a class="footer-link"><span>Contact</span></a>
    </div>
    <div class="footer-bottom">
      <span>© 2026 ziiui</span>
      <span>Good Tech Experience</span>
    </div>
  </div>
</footer>
